USE [DATAGATE]
GO
/****** Object:  Table [dbo].[APP_MENU]    Script Date: 2019/1/19 22:28:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APP_MENU](
	[ID] [varchar](32) NOT NULL DEFAULT (newid()),
	[NAME] [nvarchar](50) NULL,
	[SHOW_TYPE] [varchar](20) NULL,
	[AUTH_TYPE] [varchar](20) NULL,
	[PARENT_ID] [varchar](32) NULL,
	[ORD] [numeric](18, 6) NULL,
	[URL] [varchar](100) NULL,
	[ICON_CLS] [varchar](50) NULL,
	[REMARK] [varchar](100) NULL,
	[ROUTE] [varchar](100) NULL,
 CONSTRAINT [PK_APP_MENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[APP_ROLE]    Script Date: 2019/1/19 22:28:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APP_ROLE](
	[ID] [varchar](32) NOT NULL DEFAULT (newid()),
	[NAME] [nvarchar](50) NULL,
	[REMARK] [nvarchar](100) NULL,
	[ORD] [numeric](5, 0) NULL DEFAULT ((1)),
 CONSTRAINT [PK_APP_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[APP_ROLE_MENU]    Script Date: 2019/1/19 22:28:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APP_ROLE_MENU](
	[MENU_ID] [varchar](32) NOT NULL,
	[ROLE_ID] [varchar](32) NOT NULL,
 CONSTRAINT [PK_APP_ROLEMENU] PRIMARY KEY CLUSTERED 
(
	[MENU_ID] ASC,
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[APP_USER]    Script Date: 2019/1/19 22:28:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APP_USER](
	[ID] [char](32) NOT NULL CONSTRAINT [DF__APP_USER__ID__276EDEB3]  DEFAULT (newid()),
	[ACCOUNT] [varchar](30) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[EMAIL] [varchar](100) NULL,
	[TEL] [varchar](20) NULL,
	[CONTACT] [nvarchar](100) NULL,
	[PASSWORD] [char](32) NULL,
	[FAILED_TRY] [numeric](5, 0) NULL CONSTRAINT [DF__APP_USER__FAILED__286302EC]  DEFAULT ((0)),
	[LAST_LOGIN_DATE] [date] NULL,
	[RESET_TOKEN] [char](32) NULL CONSTRAINT [DF__APP_USER__RESET___29572725]  DEFAULT (newid()),
	[PASSWORD_SALT] [char](32) NULL CONSTRAINT [DF__APP_USER__PASSWO__2A4B4B5E]  DEFAULT (newid()),
	[CREATE_DATE] [date] NULL CONSTRAINT [DF__APP_USER__CREATE__2B3F6F97]  DEFAULT (getdate()),
 CONSTRAINT [PK_APP_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[APP_USER_OAUTH]    Script Date: 2019/1/19 22:28:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APP_USER_OAUTH](
	[PROVIDER] [varchar](32) NOT NULL,
	[PROVIDER_USER_ID] [nvarchar](100) NOT NULL,
	[USER_ID] [char](32) NOT NULL,
 CONSTRAINT [PK_APP_OAUTH_USER] PRIMARY KEY CLUSTERED 
(
	[PROVIDER] ASC,
	[PROVIDER_USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[APP_USER_ROLE]    Script Date: 2019/1/19 22:28:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APP_USER_ROLE](
	[USER_ID] [char](32) NOT NULL,
	[ROLE_ID] [varchar](32) NOT NULL,
 CONSTRAINT [PK_APP_USERROLE] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYS_DICT]    Script Date: 2019/1/19 22:28:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_DICT](
	[CODE] [varchar](20) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[ORD] [numeric](13, 0) NULL,
	[REMARK] [nvarchar](100) NULL,
	[IS_ENABLED] [numeric](1, 0) NULL,
	[PARENT_CODE] [varchar](20) NULL,
 CONSTRAINT [SYS_DICT_PK] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYS_LOG]    Script Date: 2019/1/19 22:28:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_LOG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MODULE] [varchar](50) NULL,
	[ACTION] [varchar](50) NULL,
	[ACCOUNT] [varchar](20) NULL,
	[COSTS] [numeric](18, 0) NULL,
	[LOGLEVEL] [numeric](1, 0) NULL,
	[MESSAGE] [nvarchar](4000) NULL,
	[REQUEST] [nvarchar](2000) NULL,
	[OBJECTID] [varchar](32) NULL,
	[CATALOGID] [varchar](32) NULL,
	[OPTIME] [datetime] NULL,
	[CLIENTIP] [varchar](20) NULL,
	[USERAGENT] [varchar](200) NULL,
	[EXCEPTION] [nvarchar](2000) NULL,
	[ABSTRACT] [nvarchar](200) NULL,
 CONSTRAINT [SYS_LOG_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[APP_MENU] ([ID], [NAME], [SHOW_TYPE], [AUTH_TYPE], [PARENT_ID], [ORD], [URL], [ICON_CLS], [REMARK], [ROUTE]) VALUES (N'416437455D1045D596F2A45280C164B6', N'日志管理', N'UserMenu', N'Auth', N'71FFF15EA73847FA9144D317979C77AA', CAST(260.000000 AS Numeric(18, 6)), N'/sys/log', N'fa fa-calendar-check-o', N'', N'/sys/log')
INSERT [dbo].[APP_MENU] ([ID], [NAME], [SHOW_TYPE], [AUTH_TYPE], [PARENT_ID], [ORD], [URL], [ICON_CLS], [REMARK], [ROUTE]) VALUES (N'5B3F6D7BC2274EDA9C21A943CC4DE901', N'功能管理', N'UserMenu', N'Auth', N'71FFF15EA73847FA9144D317979C77AA', CAST(250.000000 AS Numeric(18, 6)), N'/sys/menus', N'fa fa-asterisk', N'', N'/sys/menus')
INSERT [dbo].[APP_MENU] ([ID], [NAME], [SHOW_TYPE], [AUTH_TYPE], [PARENT_ID], [ORD], [URL], [ICON_CLS], [REMARK], [ROUTE]) VALUES (N'71FFF15EA73847FA9144D317979C77AA', N'系统管理', N'UserMenu', N'Auth', N'', CAST(210.000000 AS Numeric(18, 6)), N'', N'fa fa-cog', N'', N'')
INSERT [dbo].[APP_ROLE] ([ID], [NAME], [REMARK], [ORD]) VALUES (N'AC929202375B4566BCC35670E68BF729', N'超级管理员', N'所有权限', CAST(1 AS Numeric(5, 0)))
INSERT [dbo].[APP_ROLE_MENU] ([MENU_ID], [ROLE_ID]) VALUES (N'416437455D1045D596F2A45280C164B6', N'AC929202375B4566BCC35670E68BF729')
INSERT [dbo].[APP_ROLE_MENU] ([MENU_ID], [ROLE_ID]) VALUES (N'5B3F6D7BC2274EDA9C21A943CC4DE901', N'AC929202375B4566BCC35670E68BF729')
INSERT [dbo].[APP_ROLE_MENU] ([MENU_ID], [ROLE_ID]) VALUES (N'71FFF15EA73847FA9144D317979C77AA', N'AC929202375B4566BCC35670E68BF729')
INSERT [dbo].[APP_USER] ([ID], [ACCOUNT], [NAME], [EMAIL], [TEL], [CONTACT], [PASSWORD], [FAILED_TRY], [LAST_LOGIN_DATE], [RESET_TOKEN], [PASSWORD_SALT], [CREATE_DATE]) VALUES (N'00000000000000000000000000000001', N'system', N'系统管理员', N'bwangel@163.com', N'13487071449', N'', N'6DEF9DA5FAD48644B1E0642C7EFFD9C8', CAST(0 AS Numeric(5, 0)), CAST(N'2019-01-15' AS Date), N'89C5EA32381E44228225D0833A5B569B', N'D7F6B0E19D604EAEB63914A520344EBB', CAST(N'2019-01-15' AS Date))
INSERT [dbo].[APP_USER_ROLE] ([USER_ID], [ROLE_ID]) VALUES (N'00000000000000000000000000000001', N'AC929202375B4566BCC35670E68BF729')
SET ANSI_PADDING ON

GO
/****** Object:  Index [APP_ROLE_UK1]    Script Date: 2019/1/19 22:28:23 ******/
ALTER TABLE [dbo].[APP_ROLE] ADD  CONSTRAINT [APP_ROLE_UK1] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [APP_USER_UK1]    Script Date: 2019/1/19 22:28:23 ******/
ALTER TABLE [dbo].[APP_USER] ADD  CONSTRAINT [APP_USER_UK1] UNIQUE NONCLUSTERED 
(
	[ACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SYS_DICT] ADD  DEFAULT ((1)) FOR [ORD]
GO
ALTER TABLE [dbo].[SYS_DICT] ADD  DEFAULT ((1)) FOR [IS_ENABLED]
GO
ALTER TABLE [dbo].[SYS_LOG] ADD  DEFAULT ((4)) FOR [LOGLEVEL]
GO
ALTER TABLE [dbo].[SYS_LOG] ADD  DEFAULT (getdate()) FOR [OPTIME]
GO
ALTER TABLE [dbo].[APP_ROLE_MENU]  WITH CHECK ADD  CONSTRAINT [FK_APP_ROLE_REFERENCE_APP_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[APP_ROLE] ([ID])
GO
ALTER TABLE [dbo].[APP_ROLE_MENU] CHECK CONSTRAINT [FK_APP_ROLE_REFERENCE_APP_ROLE]
GO
ALTER TABLE [dbo].[APP_USER_OAUTH]  WITH CHECK ADD  CONSTRAINT [FK_APP_USER_OAUTH_APP_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[APP_USER] ([ID])
GO
ALTER TABLE [dbo].[APP_USER_OAUTH] CHECK CONSTRAINT [FK_APP_USER_OAUTH_APP_USER]
GO
ALTER TABLE [dbo].[APP_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_APP_USER_REFERENCE_APP_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[APP_ROLE] ([ID])
GO
ALTER TABLE [dbo].[APP_USER_ROLE] CHECK CONSTRAINT [FK_APP_USER_REFERENCE_APP_ROLE]
GO
ALTER TABLE [dbo].[APP_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_APP_USER_REFERENCE_APP_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[APP_USER] ([ID])
GO
ALTER TABLE [dbo].[APP_USER_ROLE] CHECK CONSTRAINT [FK_APP_USER_REFERENCE_APP_USER]
GO
