@import "main.scss";

body {
  padding: 0px;
  margin: 0px auto;
}

a {
  text-decoration: none;
}
.container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;

  .main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50px;
    bottom: 0px;
    overflow: hidden;
  }

  .topbar-wrap {
    height: 50px;
    line-height: 50px;
    background: $top-bgcolor;
    padding: 0px;

    .topbar-btn {
      color: #fff;
    }

    /*页面顶部*/
    /*.topbar-btn:hover {*/
    /*background-color: #4A5064;*/
    /*}*/
    .topbar-logo {
      float: left;
      line-height: 26px;
    }

    .topbar-logo img {
      height: 30px;
      margin-top: 10px;
      margin-left: 2px;
    }

    .topbar-title {
      float: left;
      text-align: left;
      padding-left: 10px;
    }

    .topbar-menu {
      float: left;
      margin-top: 3px;
      margin-left: 50px;

      .el-menu.el-menu--horizontal {
        border: 0;
      }
    }

    .topbar-account {
      float: right;
      padding-right: 12px;
    }

    .userinfo-inner {
      cursor: pointer;
      color: #fff;
      padding-left: 10px;

      .fa {
        font-size: 16px;
      }
    }
  }

  aside {
    min-width: 50px;
    background: $side-bgcolor;

    &::-webkit-scrollbar {
      display: none;
    }

    &.showSidebar {
      overflow-x: hidden;
      overflow-y: auto;
    }

    .el-menu {
      height: 100%;
      /*写给不支持calc()的浏览器*/
      height: -moz-calc(100% - 80px);
      height: -webkit-calc(100% - 80px);
      height: calc(100% - 80px);
      border-radius: 0px;
      background-color: $side-bgcolor;
      border-right: 0px;
    }

    .el-submenu .el-menu-item {
      min-width: 60px;
    }

    .el-menu {
      width: 180px;
    }

    .el-menu--collapse {
      width: 60px;
    }

    .el-menu .el-menu-item,
    .el-submenu .el-submenu__title {
      height: 46px;
      line-height: 46px;
    }

    .el-menu-item:hover,
    .el-submenu .el-menu-item:hover,
    .el-submenu__title:hover {
      background-color: $side-hover;
    }
  }

  .menu-toggle {
    background: #4a5064;
    text-align: center;
    color: white;
    height: 26px;
    line-height: 30px;
  }

  .content-container {
    background: #fff;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    padding-bottom: 1px;

    .content-wrapper {
      background-color: #fff;
      box-sizing: border-box;
    }
  }
}