$top-bgcolor: #2668ad;
$side-bgcolor: rgb(47,56,64);
$side-hover: #185799;
.hidden{
  display: none;
}

body {
  padding: 0px;
  margin: 0px auto;
  font-size: 14px;
}

a, a:visited {
  text-decoration: none;
  color:$top-bgcolor
}

input[type="checkbox"] {
  width: 14px;
  height: 14px;
}

#app {
  font-family: 'Microsoft YaHei', '微软雅黑';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}

//home.vue
.el-menu-item,
.el-submenu__title {
  color: #fff;
}

.el-menu .el-menu-item,
.el-submenu .el-submenu__title {
  height: 42px;
  line-height: 42px;
}

.el-menu-item:hover,
.el-submenu .el-menu-item:hover,
.el-submenu__title:hover {
  background-color:$side-hover;
}

//避免回退时，菜单仍然是默认focus状态的样式
.el-menu-item:focus {
  outline: 0;
  background-color: inherit;
}

.el-submenu .el-menu-item {
  background-color: #333744
}

.el-submenu .el-menu-item:hover {
  background-color: #4A5064;
}

.el-menu--popup{
  background-color: $side-bgcolor;
}

.el-submenu .el-menu-item.is-active,
.el-menu-item.is-active,
.el-submenu .el-menu-item.is-active:hover,
.el-menu-item.is-active:hover {
  background-color:$side-hover;
  color: #fff;
}

.el-icon-arrow-down:before {
  color: #fff;
}

.el-menu .fa {
  vertical-align: baseline;
  margin-right: 6px;
  color: #fff
}

.el-submenu__icon-arrow {
  color: #fff
}

.warp-breadcrum {
  margin: 5px 10px 15px 0px;
}

//工具栏
.dg-toolbar {
  margin: 5px 0;
}

//卡片区
.card {
  border: 1px solid #dcdfe6;
  background: #fff;

  .card-header {
    padding: 10px;
    border-bottom: 1px solid #dcdfe6;
  }

  .card-content {
    padding: 5px;
  }
}

/*el-ui的卡片*/
.el-card__header {
  padding: 10px 12px;
  background: #eaf7ff
}

.el-form-item--mini .el-form-item__content,
.el-form-item--mini .el-form-item__label {
  line-height: 28px;
}

/* 设置ElUI所有btn的文字信息偏移*/
.el-button span {
  padding-left: 5px;
}

/* 设置ElUI穿梭Grid的宽度样式*/
.frame-transfer-panel .el-transfer-panel {
  width: 38%;
}

.el-dialog__body {
  padding: 0px 20px
}

.el-dialog__header {
  padding: 10px 20px;
}

.el-dialog__title {
  line-height: 24px;
  color: #609ee9;
  font-weight: 700;
}

.el-dialog__headerbtn {
  top: 8px;
  right: 8px;
  font-size: 18px;
}

.el-card__body {
  padding: 10px;
}

.el-table {

  th {
    background-color: #f0f5f8;
    padding: 6px 0;

    div {
      white-space: nowrap;
      word-break: keep-all;
      word-wrap: none;
      overflow: hidden
    }
  }

  td {
    padding: 8px 0
  }
}
