<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets async="true">
    <default-wrapper xsi:type="BufferingWrapper" bufferSize="10"/>
    <!-- write logs to file  -->
    <target xsi:type="File" name="logfile" fileName="c:\temp\log-${shortdate}.log"
            layout="${longdate}|${event-properties:EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}
" />

    <target name="database" xsi:type="Database" dbProvider="System.Data.SqlClient.SqlConnection, System.Data.SqlClient">
      <connectionString>Data Source=.;Initial Catalog=DATAGATE;User ID=sa;Password=123456</connectionString>
      <!--已经在程序中用appsettings.json中的连接串进行配置connectionString， 但是好象不起作用-->
      <!--<connectionString>${var:connectionString}</connectionString>-->
      <!--这好象只能写在一行-->
      <commandText>insert into SYS_Log(Module,Action,Account,Costs,LogLevel,Request,ObjectId,CatalogId,OpTime,ClientIP,Message,UserAgent,Exception)values(@Module,@Action,@Account,@Costs,@LogLevel,@Request,@ObjectId,@CatalogId,@OpTime,@ClientIP,@Message,@UserAgent,@Exception)</commandText>
      <parameter name="Module" layout="${event-properties:Module}" />
      <parameter name="Action" layout="${event-properties:Action}" />
      <parameter name="Account" layout="${event-properties:Account}" />
      <parameter name="Costs" layout="${event-properties:Costs}" />
      <parameter name="LogLevel" layout="${event-properties:LogLevel:format=d}" />
      <parameter name="Request" layout="${event-properties:Request}" />
      <parameter name="ObjectId" layout="${event-properties:ObjectId}" />
      <parameter name="CatalogId" layout="${event-properties:CatalogId}" />
      <parameter name="OpTime" layout="${date:culture=zh-CN}" />
      <parameter name="ClientIP" layout="${event-properties:ClientIP}" />
      <parameter name="Message" layout="${message}" />
      <parameter name="UserAgent" layout="${event-properties:UserAgent}" />
      <parameter name="Exception" layout="${exception:tostring}" />
    </target>
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Error" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="database" />
  </rules>
</nlog>